<!-- Author: Jacob Hartt -->

<!-- inherit from base.html-->
{% extends "base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block title %}
	<title>GoTeach Classes</title>
{% endblock %}

{% block content %}
<h1>Class List</h1>
<a href="create_class/" id="create-class-button" class="btn btn-info">New</a>
<br>
<br>

<div class="container">
    <div class="row">
        {% for class in classes %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4"> <!-- Adjust col-md-4 based on your desired layout -->
            <div class="card">
                <div class="card-body">
                    <h5 class="class-title">{{ class.title }}</h5>
                    <p><b>Start Date: </b>{{ class.start_date }}</p>
                    <a href="{{ class.get_absolute_url }}" class="btn btn-info">View</a>
                    <a href="{{ class.get_absolute_url }}update_class/" class="btn btn-info">Edit</a>
                    <a href="{{ class.get_absolute_url }}delete_class/" class="btn btn-info">Delete</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <h5>No classes yet.</h5>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
