{% extends "base_template.html" %}                                 
                                                                                  
{% block title %}
	<title>GoTeach - Create a Class</title>
{% endblock %}

{% block content %}                                                              
<form method='post' action='' enctype="multipart/form-data">
	{% csrf_token %}

	<h5>Title:</h5>
	{{ form.title }}
	<br>
	<br>
	<h5>Start Date:</h5>
	{{ form.start_date }}
	<br>
	<br>
	<h5>About:</h5>
	{{ form.about }}
	<br>
	<br>
	<h5>Game Link:</h5>
	{{ form.game_link }}
	<br>
	<br>
	<h5>Presentation File:</h5>
	{{ form.presentation_file }}
	<br>
	<br>
	<button name="save" id="submit-new-class-button">Submit</button>
</form>
{% endblock %}     
