{% extends "goteach_app/base_template.html" %}                                 

{% block title %}                                                              
	<title>Delete Class - {{ class.title }}</title>
{% endblock %}   
                                                                                  
{% block content %}                                                              
<form method='post' action=''>
	{% csrf_token %}

	<h2>Are you sure you want to delete the class "{{ class.title }}"?</h2>
	<button name="delete">Yes</button>
	<button name="cancel">No</button>
</form>
{% endblock %}   
