<!-- inherit from base.html-->
{% extends "goteach_app/base_template.html" %}

{% block title %}
	<title>GoTeach Class - {{ class.title }}</title>
{% endblock %}

{% block content %}
    <h1>{{ class.title }}</h1>
    <p><b>Start Date: </b>{{ class.start_date }}</p>
    <p><b>Ended: </b>{{ class.ended }}</p>
    <p><b>About: </b>{{ class.about }}</p>
{% if class.game_link != '' %}
    <a href="{{ class.game_link }}" class="btn btn-info">Link To Game</a>
{% endif %}
    <a href="update_class/" class="btn btn-info">Update</a>
{% endblock %}

