<!-- inherit from base.html-->
{% extends "portfolio_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Computer Science Portfolios</h1>

<h3>List of Active Student Portfolios</h3>

{% for portfolio in portfolios %}
<br>
<div class="card" style="width: 18rem;">
	<div class="card-body">
		<h5>{{ portfolio.title }}</h5>
		<p>Author: {{ portfolio.student.name }}</p>
		<a href="#" class="btn btn-info">View</a>
	</div>
</div>
{% empty %}
    <h5>No active portfolios yet.</h5>
{% endfor %}

{% endblock %}

